h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    text-align: center;
    line-height: 2;
}

  h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 2;
 }

 body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
    text-align: center;

  }
